html  {
  background-color: #3c9ac6;
}
h1 {
  font-weight: normal; /* normal, bold */
  font-size: 5rem; /* 16 is normal font */
  font-style: italic; /* normal, italic */
  text-decoration: underline; /* underline, line-through */
  font-family: "Bevan", cursive;
  line-height: 1.5;
}

ul {
  list-style-type: lower-roman;
}
  padding: 0;
}
ol {
  list-style-type: circle;
}

li {
  font-weight:normal;
}

.cele {
  color: darkorange;
}

.rounded{
  color: darkorange;
}

a{
  color: white;
}

a:hover {
  color: orange;
}

blockquote{
  font-style: italic;
}

footer {
  text-align: right;
}

q{

}

.quote {
  text-align: right;
}
