html  {
  background-color: #3c9ac6;
}
h1 {
  font-weight: normal; /* normal, bold */
  font-size: 5rem; /* 16 is normal font */
  font-style: italic; /* normal, italic */
  text-decoration: underline; /* underline, line-through */
  font-family: "Bevan", cursive;
  line-height: 1.5;
}

h2{
  font-family:"Bevan", cursive;
  color:darkorange;
}

li {
  font-weight:normal;

ul {
  list-style-type: lower-roman;
}
figcaption{
  font-style: italic;
  color: white;
}
  padding: 0;
}
ol {
  list-style-type: none;
padding: 0;
}

.cele {
  color: darkorange;
}

.rounded{
  color: darkorange;
}

a{
  color: white;
}

a:hover {
  color: orange;
}

p{
  font-family: arial; san serif;
  font-size: .7rem;
  color:white;
}

blockquote{
  font-style: italic;
  line-height: .9;
}

footer {
  text-align: right;
  font-size: .8rem;
  color: black;
}

dt {
font-weight:bold;
font-family: Arial;
}

.quote {
  font-size: 1.5rem;
  font-family:arial; serif;
  text-align: right;
}
